<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Talento &mdash; Check Out</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="../static/css/custom.css">
    <link rel="shortcut icon" href="../static/images/logo.jpg" type="image/x-icon">
</head>
<body class="bg-black text-white">
    <div class="flex items-center justify-center h-screen">
        <div class="bg-black border border-white p-8 rounded-lg shadow-lg w-full max-w-sm">
            <h2 class="text-2xl font-bold mb-6 text-center">Check out page</h2>
            {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
            <ul>
                {% for category, message in messages %}
                <li class="{{category}} text-center">{{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %}
            {% endwith %}
            <form action="{{ url_for('payment') }}" method="post">
                <input type="hidden" name="price" value="{{ price }}">
                <input type="hidden" name="count" value="{{ count }}">
                <input type="hidden" name="total" value="{{ total }}">
                <input type="hidden" name="selected_photos" value="{{ selected_photos }}">
                <div class="mb-4">
                    <h1>Price per Photo:</h1>
                    <p class="text-2xl text-orange-700">Ksh {{ price }}</p>
                </div>
                <div class="mb-4">
                    <h1>Photos Selected:</h1>
                    <p class="text-2xl text-orange-700">{{ count }}</p>
                </div>
                <div class="mb-4">
                    <h1>Total Price:</h1>
                    <p class="text-2xl text-orange-700">Ksh {{total}}</p>
                </div>
                <div class="mb-6">
                    <label for="phone" class="block text-sm font-medium">Mpesa number</label>
                    <input class="shadow appearance-none border rounded w-full py-2 px-3 text-black mb-3 leading-tight focus:outline-none focus:shadow-outline" id="phonenumber" type="tel" placeholder="+254793820659" name="number">
                </div>
                <button type="submit" class="w-full bg-orange-700 text-white py-2 px-4 rounded-md hover:bg-orange-800 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-orange-700">Pay</button>
            </form>
        </div>
    </div>

</body>
</html>
