<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Talento</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="../static/css/custom.css">
    <link rel="shortcut icon" href="../static/images/logo.jpg" type="image/x-icon">
    <script src="https://kit.fontawesome.com/c893f91b93.js" crossorigin="anonymous"></script>
    <style>
        .home-bg {
            background-image: url('../static/images/camera.jpg');
            background-size: cover;
            background-position: center;
        }
    </style>
</head>
<body class="bg-black text-white">
    <div class="container mx-auto px-4">
        <!-- Nav section starts -->
        <header class="flex justify-between items-center p-4">
            <a href="index.html">
                <h1 class="text-2xl font-bold"><span class="text-orange-700">T</span>alento</h1>
            </a>
            <a href="{{url_for('home')}}" class="text-2xl"><i class="fa-solid fa-house"></i></a>
        </header>
        <!-- Nav section ends -->

        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        <ul class="p-1">
            {% for category, message in messages %}
            <li class="{{category}} text-center">{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}

        <!-- Home section starts -->
        <section class="home-bg h-screen flex items-center justify-center">
            <div class="text-center">
                <h2 class="text-4xl md:text-6xl font-bold mb-4">Welcome to Talento</h2>
                <p class="text-lg md:text-2xl text-orange-700">Download Your Event Experience</p>
            </div>
        </section>
        <!-- Home section ends -->

        <!-- Featured section starts -->
        <section class="my-16">
            <h2 class="text-3xl font-bold text-center mb-12">Features</h2>
            <div class="space-y-16">
                <div class="flex flex-col md:flex-row md:items-center">
                    <div class="md:w-1/2">
                        <img src="../static/images/home.png" alt="Feature 1" class="w-full rounded-lg shadow-lg">
                    </div>
                    <div class="md:w-1/2 md:pl-12 mt-4 md:mt-0 text-center md:text-left">
                        <a href="{{url_for('home')}}" class="text-orange-700"><h3 class="text-2xl font-bold mb-2">Home</h3></a>
                        <p>Attended an event this weekend? Just have fun let us document it for you! <br>
                        Go <a href="{{url_for('home')}}" class="text-orange-700">Home</a>, Check Out & Download your photos</p>
                    </div>
                </div>
                <div class="flex flex-col md:flex-row md:items-center">
                    <div class="md:w-1/2 md:order-2">
                        <img src="../static/images/event.png" alt="Feature 2" class="w-full rounded-lg shadow-lg">
                    </div>
                    <div class="md:w-1/2 md:pr-12 mt-4 md:mt-0 text-center md:text-left">
                        <h3 class="text-2xl font-bold mb-2 text-orange-700">Event Page</h3>
                        <p>Select your photos from the event to download</p>
                    </div>
                </div>
                <div class="flex flex-col md:flex-row md:items-center">
                    <div class="md:w-1/2">
                        <img src="../static/images/profile.png" alt="Feature 3" class="w-full rounded-lg shadow-lg">
                    </div>
                    <div class="md:w-1/2 md:pl-12 mt-4 md:mt-0 text-center md:text-left">
                        <h3 class="text-2xl font-bold mb-2 text-orange-700">Photographers</h3>
                        <p>Checkout your favourite photographer profile for more event coverages</p>
                    </div>
                </div>
                <div class="flex flex-col md:flex-row md:items-center">
                    <div class="md:w-1/2 md:order-2">
                        <img src="../static/images/download.png" alt="Feature 4" class="w-full rounded-lg shadow-lg">
                    </div>
                    <div class="md:w-1/2 md:pr-12 mt-4 md:mt-0 text-center md:text-left">
                        <h3 class="text-2xl font-bold mb-2 text-orange-700">Downloads</h3>
                        <p>Select Your photos checkout and download!</p>
                    </div>
                </div>
            </div>
        </section>
        <!-- Featured section ends -->

        <!-- About section starts -->
        <section class="my-16 bg-gray-900 p-8 rounded-lg shadow-lg">
            <h2 class="text-3xl font-bold text-center mb-8">About Us</h2>
            <p class="text-lg text-center">At Talento, we specialize in capturing the essence of every event. From corporate gatherings to personal celebrations, our team of professional photographers is dedicated to preserving your most cherished moments.

                We believe that every event is unique and deserves to be remembered in vivid detail. That’s why we offer high-quality images that attendees can easily download and share. Our seamless process ensures that your memories are just a click away, ready to be relived and treasured forever.
                
                Join us in celebrating life's special moments, and let us turn your events into lasting memories.</p>
        </section>
        <!-- About section ends -->

        <!-- Footer section starts -->
        <footer class="bg-gray-900 text-white p-8 mt-16">
            <div class="container mx-auto flex flex-col md:flex-row justify-between">
                <div class="md:w-1/3 mb-8 md:mb-0">
                    <h3 class="text-lg font-bold">Quick Links</h3>
                    <ul class="mt-4">
                        <li><a href="#" class="hover:text-gray-400">Home</a></li>
                        <li><a href="#" class="hover:text-gray-400">About Us</a></li>
                        <li><a href="{{url_for('register')}}" class="hover:text-gray-400">Partner With Us</a></li>
                        <li><a href="#" class="hover:text-gray-400">Contact Us</a></li>
                    </ul>
                </div>
                <div class="md:w-1/3 mb-8 md:mb-0">
                    <h3 class="text-lg font-bold">Connect With Us</h3>
                    <ul class="mt-4">
                        <li><a href="#" class="hover:text-gray-400">Facebook</a></li>
                        <li><a href="#" class="hover:text-gray-400">Twitter</a></li>
                        <li><a href="#" class="hover:text-gray-400">Instagram</a></li>
                        <li><a href="#" class="hover:text-gray-400">LinkedIn</a></li>
                    </ul>
                </div>
                <div class="md:w-1/3">
                    <h3 class="text-lg font-bold">Contact Info</h3>
                    <p class="mt-4">123 Moi Avenue, Nairobi, Kenya</p>
                    <p>kipchumba.softwaredev@gmail.com</p>
                    <p>+123 456 7890</p>
                </div>
            </div>
            <div class="mt-8 border-t border-gray-800 pt-8 text-center">
                <p>&copy; 2024 Talento. All rights reserved.</p>
            </div>
        </footer>
        <!-- Footer section ends -->
    </div>
</body>
</html>
