<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Talento &mdash; Sign-up</title>
    <link rel="shortcut icon" href="../static/images/logo.jpg" type="image/x-icon">
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="../static/css/custom.css">
</head>
<body class="bg-black text-white">
    <div class="container mx-auto px-14">
        <!--Nav section starts-->
    <section class="p-4">
        <header>
            <div class="flex justify-center items-center p-4">
                <a href="index.html">
                    <h1 class="text-2xl font-bold"><span class="text-orange-700">T</span>alento</h1>
                </a>
            </div>
        </header>
    </section>
    <!--Nav section ends-->
    
    <div class="flex items-center justify-center h-screen">
        <div class="border border-white p-4 rounded-lg shadow-lg w-full max-w-sm">
            <h2 class="text-2xl font-bold mb-6 text-center">Sign Up</h2>
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                <ul>
                    {% for category, message in messages %}
                    <li class="{{category}} text-center">{{ message }}</li>
                    {% endfor %}
                </ul>
                {% endif %}
                {% endwith %}
            <form action="{{url_for('register')}}", method="post", enctype="multipart/form-data">
                <div class="mb-4">
                    <label for="email" class="block text-sm font-medium">Username</label>
                    <input class="shadow appearance-none border rounded w-full py-2 px-3 text-black mb-3 leading-tight focus:outline-none focus:shadow-outline" id="username" type="text" placeholder="John" name="username">
                </div>
                <div class="mb-4">
                    <label for="coverPhoto" class="block text-lg mb-2">Profile Picture:</label>
                    <input type="file" name="profile_photo" id="coverPhoto" class="w-full p-2 rounded text-white" required>
                </div>
                <div class="mb-4">
                    <label for="about" class="block text-sm font-medium">About</label>
                    <textarea name="about" id="about" rows="1" class="w-full p-2 rounded text-black" required></textarea>
                </div>
                <div class="mb-4">
                    <label for="email" class="block text-sm font-medium">Email</label>
                    <input class="shadow appearance-none border rounded w-full py-2 px-3 text-black mb-3 leading-tight focus:outline-none focus:shadow-outline" id="email" type="text" placeholder="you@example.com" name="email">
                </div>
                <div class="mb-6">
                    <label for="password" class="block text-sm font-medium">Password</label>
                    <input class="shadow appearance-none border rounded w-full py-2 px-3 text-black mb-3 leading-tight focus:outline-none focus:shadow-outline" id="password" type="password" placeholder="********" name="password">
                </div>
                <button type="submit" class="w-full bg-orange-700 text-white py-2 px-4 rounded-md hover:bg-orange-800 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">Register</button>
            </form>
            <p class="mt-4 text-center text-sm text-gray-600">
                Already have an account? <a href="login.html" class="font-medium text-orange-700 hover:text-orange-800">Sign in</a>
            </p>
        </div>
    
    </div>
    </div>
    
</body>
</html>
